.thermometer {
  display: block;
  position: relative;
  height: 100px;
}

.tube {
  background-color: red;
  border-radius: 12px;
  bottom: -8px;
  display: inline-block;
  height: 10px;
  left: 7pt;
  max-height: 300px;
  min-height: 0px;
  position: absolute;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 5px;
  z-index: 100;
}

.thermometer-body {
  border: 2px solid black;
  width: 22px;
  height: 200px !important;
  border-radius: 12px;
  background-color: white;
  position: absolute;
  display: inline-block;
  bottom: -20px;
  z-index: 50;
}

.thermometer-bulb {
  border: 2px solid black;
  width: 32px;
  height: 32px;
  border-radius: 22px;
  background-color: white;
  position: absolute;
  display: inline-block;
  bottom: -17px;
  left: -5px;
  bottom: -23px;
  border-top: 0.9px solid #fff;
  z-index: 51;
}

.thermometer-mercury {
  background-color: red;
  border-radius: 22px;
  bottom: 5px;
  display: inline-block;
  height: 17px;
  left: 5pt;
  position: absolute;
  width: 16px;
  z-index: 52;
}
